<section class="md-section-secondary box-shadow--8dp">
  Editing: {{model.id}} {{outlet}}
  <p><button class="btn btn-danger btn-lg" type="button" {{action "delete" model}}>Delete</button></p>
    <br>
</section>
